#background-img {
    width: 400px;
    height: 600px;
    /* background-image: url(../assets/background.jpeg);
    background-size: contain; */
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

#score-container {
    background-color: #fff  ;
    width: 90px;
    height: 50px;
    font-size: 20px;
    color: black;
    text-align: center;
    justify-content: center;

}

#game-canvas {
    background-color: black;
    /* width: 688px;
    height: 464px; */
}

